<h1>The List Of Available Equipments</h1>


<p *ngIf="!inventories"><em>Loading...</em></p>

<table class='table' *ngIf="inventories">
  <thead>
    <tr>
      <th>InventoryID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Choose</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inventory of inventories">
      <td>{{ inventory.inventoryID }}</td>
      <td>{{ inventory.name }}</td>
      <td>{{ inventory.type }}</td>
      <td><button (click)="onSelect(inventory)">Choose..</button></td>
    </tr>
  </tbody>
</table>

<hr />

<div class="login-container" *ngIf="inventories">
  <h2 class="login-title">Please Enter the Days...</h2>
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="login-form">
    <!--<div *ngIf="form.errors?.auth"
         class="error-panel help-block">
      {{form.errors.register}}
    </div>-->


    <div class="form-group"
         [ngClass]="{ 'has-error has-feedback' : hasError('Days') }">
      <input type="text" required autofocus
             formControlName="Days"
             class="form-control"
             placeholder="Insert Days..." />
      <span *ngIf="hasError('Days')"
            class="glyphicon glyphicon-remove form-control-feedback"
            aria-hidden="true"></span>
      <div *ngIf="hasError('Days')"
           class="help-block">
        Please enter the number of days for how long you wish to rent the chosen machine.
      </div>
    </div>


    <div class="text-center">
      <button type="submit"
              [disabled]="form.invalid"
              class="btn btn-md btn-success btn-signin">
        Add to Cart
      </button>
      <button type="submit"
              (click)="onBack()"
              class="btn btn-md btn-default">
        Cancel
      </button>
    </div>
  </form>
</div>
