<h1 class="center">Invoice</h1>

<div class="double">
<p class="left">Customer Name: {{invoice.customerName}}</p> 
<p class="left">Total Points: {{invoice.totalPoints}}</p> 
<p class="left">Total Price: {{invoice.totalPrice}}</p>
</div>

<br />

<table class='table' *ngIf="invoice">
  <thead>
    <tr>
      <th>EquipmentName</th>
      <th>Type</th>
      <th>Days</th>
      <th>Points</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of invoice.transactions">
      <td>{{ transaction.equipmentName }}</td>
      <td>{{ transaction.type }}</td>
      <td>{{ transaction.days }}</td>
      <td>{{ transaction.points }}</td>
      <td>{{ transaction.price }}</td>
    </tr>
  </tbody>
</table>
